<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mark's Quest">
    <meta property="og:url" content="https://p3-30326053.onrender.com/">
    <meta property="og:image" content="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg">
    <title>Mark's Quest</title>

    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/hf.css">
    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg" type="">

    <!-- Schema Markup-->

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">

    <style>
        .navbar-nav {
            display: flex;
            align-items: center;
        }

        .navbar-nav .nav-item {
            margin-right: 10px;
        }

        .navbar-nav.ms-auto {
            margin-left: auto;
        }

        .navbar-nav.ms-auto .nav-item {
            margin-right: 0;
        }

        body {
            background-color: #161737;
        }


        h1 {
            color: white;
        }


        ul {
            list-style-type: none;
        }

        li {
            margin: 10px 0;
        }

        div.lista {
            box-shadow: 0 4px 8px #24262b, 0 6px 20px rgba(0, 0, 0, 0, 19);
            background: #24262b;
            margin: 10px;
            border-radius: 15px;

        }

        .lista {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .lista p img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }

        div.cuadricula {
            box-shadow: 0 4px 8px #24262b, 0 6px 20px rgba(0, 0, 0, 0, 19);
            float: left;
            background: #24262b;
            border-radius: 15px;
            margin-left: 300px;
            margin: auto;
        }

        .cuadricula {
            display: grid;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .cuadricula p img {

            width: 300px;
            height: 300px;
            object-fit: cover;
        }

        div.producto {
            text-align: center;
            padding: 10%;
        }


        .texto {
            color: #fff;
            text-align: center;
        }

        .lista .left {
            order: 1;
        }

        .lista .right {
            order: 2;
        }

        .cuadricula .left {
            order: 1;
        }

        .cuadricula .right {
            order: 2;
        }


        .responsive {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 16px;
        }


    </style>


</head>

<body>
    <div class="color">
        <header>
            <div class="container1">

                <h1 class="h1 logo">
                    <a href="/clientes">Mark's Quest<span>.</span></a>
                </h1>
                    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav nav justify-content-center">

                                    <div>
                                        <li class="nav-item">
                                            <form action="/search" method="post">
                                                <input type="text" name="nombre" id="nombre"
                                                    placeholder="Ingrese el nombre del juego">
                                                <button type="submit" class="btn btn-dark">Buscar</button>
                                            </form>
                                        </li>
                                    </div>

                                    <div>
                                        <li class="nav-item">
                                            <form action="/searchdescrp" method="post">
                                                <input type="text" name="descripcion" id="descripcion"
                                                    placeholder="Ingrese una descripcion del juego">
                                                <button type="submit" class="btn btn-dark">Buscar</button>
                                            </form>
                                        </li>
                                    </div>

                                    <div>
                                        <li class="nav-item">
                                            <form action="/filtroctg" method="post">
                                                <select name="categoria" id="categoria">
                                                    <option value="">--Categorias--</option>
                                                    <% if (datos) { %>
                                                        <% for (let i=0; i < datos.length; i++){ %>
                                                            <% if (datos) { %>
                                                                <option value="<%= datos[i].categoriaNombre %>"
                                                                    name="categoria" id="categoria">
                                                                    <%= datos[i].categoriaNombre %>
                                                                </option>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <option value="">No existen juegos en el
                                                                                sistema
                                                                            </option>
                                                                            <% } %>
                                                </select>
                                                <button type="submit" class="btn btn-dark">Filtrar productos</button>
                                            </form>
                                        </li>
                                    </div>

                                    <div>
                                        <li>
                                            <form action="/filtromarca" method="post">
                                                <select name="marca" id="marca">
                                                    <option value="">--Marcas--</option>
                                                    <% if (datos) { %>
                                                        <% for (let i=0; i < datos.length; i++){ %>
                                                            <% if (datos) { %>
                                                                <option value="<%= datos[i].marca %>">
                                                                    <%= datos[i].marca %>
                                                                </option>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <option value="">No existen juegos en el
                                                                                sistema
                                                                            </option>
                                                                            <% } %>
                                                </select>
                                                <button type="submit" class="btn btn-dark">Filtrar productos</button>
                                            </form>
                                        </li>
                                    </div>

                                    <div>
                                        <li>
                                            <form action="/filtrojgd" method="post">
                                                <select name="jugadores" id="jugadores">
                                                    <option value="">--Jugadores--</option>
                                                    <% if (datos) { %>
                                                        <% for (let i=0; i < datos.length; i++){ %>
                                                            <% if (datos) { %>
                                                                <option value="<%= datos[i].jugadores %>">
                                                                    <%= datos[i].jugadores %>
                                                                </option>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <option value="0">No existen juegos en el
                                                                                sistema
                                                                            </option>
                                                                            <% } %>
                                                </select>
                                                <button type="submit" class="btn btn-dark">Filtrar productos</button>
                                            </form>
                                        </li>
                                    </div>
                                    <div>
                                        <li class="nav-item">
                                            <form action="/filtroprm" method="post">
                                                <select name="promedio" id="promedio">
                                                    <option value="">--Calificacion--</option>
                                                        <% for (let i=0; i < 6; i++){ %>
                                                            <option value="<%= i %>"
                                                            name="promedio" id="promedio">
                                                            <%= i %>
                                                            </option>
                                                        <% } %>
                                                </select>
                                                <button type="submit" class="btn btn-dark">Filtrar productos</button>
                                            </form>
                                        </li>
                                    </div>
                            </div>
                            
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/productos-comprados">Productos Comprados</a>
                                    <a class="nav-link btn btn-dark" href="/loginclientes">Iniciar Sesion</a>
                                    <a class="nav-link btn btn-dark" href="/logout">Salir.</a>
                                </li>
                            

                            </ul>
                        </div>
                
                </nav>
            </div>
        </header>
    </div>

    <main class="separe">
        <article class="container1">
            <div class="container ">
                <div class="table-responsive">
                    <div class="titulo">
                        <h1>Mark's Quest</h1>
                    </div>
                    <div>
                        <button id="cambiarVista" class="btn btn-dark">Cambiar Vista</button>
                    </div><br>
                    <div>
                        <% if (datos.length> 0) {%>
                            <% for(let i=0; i < datos.length; i++) { %>
                                <div>
                                    <div class="producto lista">
                                        <div class="left">
                                            <p><img src="<%= datos[i].url %>"></p>
                                        </div>
                                        <div class="right">
                                            <p class="texto" style="font-weight: bolder;">
                                                <%= datos[i].productoNombre %>
                                            </p>
                                            <p class="texto">Precio: <%= datos[i].precio %>$</p>
                                            <p class="texto"><%= datos[i].promedio %> Estrellas</p>
                                            <p class="texto"><a href="detalles/<%= datos[i].id %>"
                                                    class="btn btn-success">Detalles</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <% } %>
                                    <% } else { %>
                                        <p>No hay productos en el sistema</p>
                                        <% } %>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <script>
        document.getElementById('cambiarVista').addEventListener('click', function () {
            let productos = document.getElementsByClassName('producto');
            for (let producto of productos) {
                if (producto.classList.contains('lista')) {
                    producto.classList.remove('lista');
                    producto.classList.add('cuadricula');
                } else {
                    producto.classList.remove('cuadricula');
                    producto.classList.add('lista');
                }
            }
        });
    </script>

    <!-- 
- #FOOTER
-->

    <footer class="footer">
        <div class="container1">

            <p class="h1 logo">
                <a href="#">
                    Mark's Quest<span>.</span>
                </a>
            </p>

            <p class="copyright">
                &copy; 2024 <a href="#">M&C</a>. All rights reserved
            </p>

        </div>
    </footer>





    <!-- 
- ionicon link
-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>