<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: white;
            border: 2px solid blue;
            border-radius: 5px;
            text-align: center;
        }

        h3 {
            margin-top: 0;
            font-size: 24px;
            color: blue;
            font-weight: bold;
        }

        img {
            max-width: 100%;
            margin: 10px 0;
        }

        button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }

        button:hover {
            background-color: darkblue;
        }
        h4 {
            border: 2px solid blue;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }
    </style>

</head>
<body>
    <div class="container">
        <h3><span style="background-color: whitesmoke;">¿Está seguro de eliminar este producto?</span></h3>
        <form action="/deleteprd/<%= productos.id %>" method="get">
            <h4><%= productos.nombre %></h4>
            <h4><%= productos.codigo %></h4>
            <h4><%= productos.precio %></h4>
            <h4><%= productos.marca %></h4>
            <h4><%= productos.jugadores %></h4>
            <h4><%= productos.descripcion %></h4>
            <button type="submit" class="btn btn-primary">Eliminar Producto</button>
        </form>
    </div>
</body>
</html>