<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark's Quest</title>

    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/hf.css">

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg" type="">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">


    <style>
        body {
            background-color: #161737;
        }


        .return-button {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        .return-button:hover {
            background-color: darkblue;
        }
    </style>
</head>

<body>
    <div class="color">
        <header>
            <div class="container1">

                <h1 class="h1 logo">
                    <a href="/report">Mark's Quest<span>.</span></a>
                </h1>

                <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/report">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  btn btn-dark" aria-current="page"
                                        href="/categorias">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/productos">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/imagenes">Imagenes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/tablaclientes">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark" href="/tablacompras">Facturas</a>
                                </li>
                                <li>
                                    <a class="nav-link return-button" href="/logout">Salir.</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

            </div>
        </header>
    </div>

    <main class="separe">
        <article class="container1">
            <div class="container">
                <div class="table-responsive">
                    <div class="titulo">
                        <h1>Pagina Imagenes</h1>
                    </div>

                    <table border="2" class="table table-hover table-dark table-striped">
                        <!-- <caption>Imagenes</caption> -->
                        <tr>
                            <th>
                                <p>N°</p>
                            </th>
                            <th>
                                <p>Imagen</p>
                            </th>
                            <th>
                                <p>Destacado</p>
                            </th>
                            <td>
                                <div class="input-group"><a type="button" class="btn btn-dark"
                                        href="/imgagg">Agregar</a></div>
                            </td>
                        </tr>
                        <tr>
                            <% if (imagenes) { %>
                                <% for (let i=0; i < imagenes.length; i++){ %>
                                    <% if (imagenes) { %>
                        <tr>
                            <td>
                                <%= (i + 1) %>
                            </td>
                            <td><img class="imagen-producto" src="<%= imagenes[i].url %>"></td>
                            <td>
                                <%= imagenes[i].destacado %>
                            </td>
                            <td>
                                <div class="input-group">
                                    <a href="/imgdelete/<%= imagenes[i].id%>" type="button"
                                        class="btn btn-dark">Eliminar</a>
                                    <a href="/imgedit/<%= imagenes[i].id%>" type="button"
                                        class="btn btn-dark">Actualizar</a>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                                <% } else { %>
                                    <tr>
                                        <th>
                                            <p>No hay imagenes en el sistema.</p>
                                        </th>
                                    </tr>
                                    <% } %>
                                        </tr>
                    </table>
                </div>
            </div>
        </article>
    </main>
    <!-- 
- #FOOTER
-->

    <footer class="footer">
        <div class="container1">

            <p class="h1 logo">
                <a href="#">
                    Mark's Quest<span>.</span>
                </a>
            </p>

            <p class="copyright">
                &copy; 2024 <a href="#">M&C</a>. All rights reserved
            </p>

        </div>
    </footer>





    <!-- 
- ionicon link
-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>