<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link rel="stylesheet" href="/public/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .titulo h1 {
            text-align: center;
            margin-bottom: 20px;
            font-family: 'Times New Roman', Times, serif;
            background-color: #3d3b5d;
        }

        th {
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            display: flexbox;
            justify-content: center;
            color: black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }

        th {
            background-color: #1f1c3e;
        }

        tr {
            background-color: #35325e;
        }

        body {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2e/Perspective-exterior-nobody-empty-box.jpg")
        }

        .caja {
            border: 2px solid rgba(128, 128, 128, 0.297);
            background-color: rgb(145, 142, 142);
            padding: 10px;
            width: 300px;
            font-family: 'Times New Roman', Times, serif;
        }

        h1 {
            color: white;
        }
    </style>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

            <div class="caja">
                <h1><strong>Mark's Quest</strong></h1>
            </div>


            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  btn btn-outline-primary" aria-current="page"
                                href="/categorias">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" href="/productos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" href="/imagenes">Imagenes</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="titulo">
            <h1>Pagina Productos: <%= productos.length %>
            </h1>
        </div>
        <div>
            <table border="2px">
                <!-- <caption>Productos</caption> -->
                <tr>
                    <th>
                        <p>N°</p>
                    </th>
                    <th>
                        <p>Codigo</p>
                    </th>
                    <th>
                        <p>Nombre</p>
                    </th>
                    <th>
                        <p>Precio</p>
                    </th>
                    <th>
                        <p>Marca</p>
                    </th>
                    <th>
                        <p>Jugadores</p>
                    </th>
                    <th>
                        <p>Descripcion</p>
                    </th>
                    <td><a class="btn btn-success" href="/prdagg">Agregar</a></td>
                </tr>
                <tr>
                    <% if (productos) { %>
                        <% for (let i=0; i < productos.length; i++){ %>
                            <% if (productos) { %>
                <tr>
                    <td>
                        <%= (i + 1) %>
                    </td>
                    <td>
                        <%= productos[i].codigo %>
                    </td>
                    <td>
                        <%= productos[i].nombre %>
                    </td>
                    <td>
                        <%= productos[i].precio %>
                    </td>
                    <td>
                        <%= productos[i].marca %>
                    </td>
                    <td>
                        <%= productos[i].jugadores %>
                    </td>
                    <td>
                        <%= productos[i].descripcion %>
                    </td>
                    <td>
                        <div class="input-group">
                            <a href="/prddelete/<%= productos[i].id%>" class="btn btn-danger">Eliminar</a>
                            <a href="/prdedit/<%= productos[i].id%>" class="btn btn-info">Actualizar</a>
                        </div>
                    </td>
                </tr>
                <% } %>
                    <% } %>
                        <% } else { %>
                            <tr>
                                <th>No hay productos en el sistema</th>
                            </tr>
                            <% } %>
                                </tr>
            </table>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>